body {

}
.dashboard-container {
    background: gray;
}
.username1 {
    
}
.title1 {
   background-color: white;
    padding: 10px;
}
h1 {
    font-family: "Playfair Display", serif;
    font-style: initial;
    font-size: 7vw;
    text-align: center;
    color: white;
    border: black;
    color: black;
    
}
h2 {
    font-family: "Playfair Display", serif;
    font-style: initial;
    font-size: 5vw;
    text-align: center;
    color: black;
    border: black;
}

.tile-container {
    text-align: center;

    
    color: black;
    border: black;

}
.tile-link {
    font-family: "Playfair Display", serif;
    font-style: initial;
    font-size: 5vw;
    color: black;
    border: black;
}